<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">

        <link rel="icon" type="image/png" href="{{ url_for('static', filename='img/700MB.png') }}">
        <!--
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/1MB.ico') }}">
        <link rel="icon" type="image/gif" href="{{ url_for('static', filename='img/1MB.gif') }}">
        -->

        <!-- für Internet Explorer -->
        <link rel="shortcut icon" type="image/x-icon" href="">
        <link rel="shortcut icon" type="image/gif" href="">
        <link rel="shortcut icon" type="image/png" href="">


        <title>Favicon</title>
    </head>
    <body>
        <p>Favicon ! </p>
    </body>
</html>
