<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Loop it!</title>
    </head>
    <body>
        <nav>
            <ul>
                <li><a href="/http2/push">/http2/push</a></li>
                <li><a href="/html_5/load/auto">/html_5/load/auto</a></li>
                <li><a href="/html_5/load/metadata">/html_5/load/metadata</a></li>
                <li><a href="/html_5/load/none">/html_5/load/none</a></li>
                <li><a href="/html_5/fetch">/html_5/fetch</a></li>
                <li><a href="/javascript/client_loop?1">/javascript/client_loop</a></li>
                <li><a href="/javascript/server_loop">/javascript/server_loop</a></li>
                <li><a href="/javascript/ajax">/javascript/ajax</a></li>
                <li><a href="/favicon">/favicon.html</a></li>
                <li><a href="/websocket">/websocket.html</a></li>
            </ul>
        </nav>
    </body>
</html>
