<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Load it!</title>
    </head>
    <body>
        <p>HTML 5 preload Attribute with metadata value</p>
        <video controls preload="metadata">
            <source src="{{ url_for('static', filename='data/BigBuckBunny_320x180.mp4') }}" type="video/mp4">
            The Browser does not support the video tag.
        </video>
    </body>
</html>
